<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
  </configSections>
  <memcached>
    <servers>
      <add address="172.16.1.39" port="11211" />
      <!-- Add more server instances here-->
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="400" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
  </memcached>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="RabbitMQ" value="172.16.0.11"/>
    <add key="ImageSaveLocation" value="\FinalCWProject\UI\CarImages\"/>
    <add key="replacePath" value="\NewConsumer\bin\"/>
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConncet" connectionString="SERVER=172.16.0.26;PORT=3306;DATABASE=training;UID=training;PASSWORD=training;" />
  </connectionStrings>
</configuration>