@model DTOs.SearchResultDTO
@using UsedCarUI.Models


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/CSS/frontpage.css">
    <title>CarsForSale</title>

</head>
<body>
    <h1>Used Car For Sale</h1>
    <div id="filter">
        <p id="filterByLocation">
            Filter By Location <span>
                <select class="cityFilter" id="cities">
                    <option value="0">Select</option>
                    @foreach (var item in Model.ResultCityList)
                    {
                        <option value="@item.ID">@item.CityName</option>
                    }
                </select>
            </span>
        </p>
        <p id="filterByBudget">
            Filter By Budget <span><input type="number" id="minPrice"></span>
            <span><input type="number" id="maxPrice"></span>
            <button onclick="filterByPrice()" id="filterByBudgetButton">GO</button>
        </p>

    </div>
    <div id="showCars">
        @{Html.RenderPartial("~/Views/Shared/UsedCar.cshtml", Model);}
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/UsedCarScript.js"></script>
</body>
</html>