.carDetails
{
margin-left:45%;
}
.slideshow-container
{
position: relative;


}
.carImages
{
display:inline-block;
position: relative;

}
.prev, .next {
 cursor: pointer;
 position: absolute;
 top: 50%;
 width: auto;
 background-color:#C8BEBC;
 padding: 16px;
 color: white;
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
 
}
.prev{
left:0%;
}
.next {
 right: 0%;
 border-radius: 3px 0 0 3px;
}
.carDetailsHeading
{
    display:inline-block;
   text-align:center;
}
.carDetails ul li
{
    display:inline-block;
}